/* .header {
  position: absolute;
  top: 3vh;
} */

.intro {
  font-size: 2vh;
}

.search-bar {
  position: relative;
}

.search-box {
  padding: 1vh;
  margin-right: 1vh;
  width: 70%;
  border-radius: 16px;
  border: solid 1px gray;
  text-align: center;
}

.search-btn {
  display: none;
  padding: 1vh;
  border-radius: 0.01px 16px 16px 0.01px;
  border: grey solid 1px;
  transition: all 0.3s ease-in;
  background-color: rgb(192, 188, 255);
}

.search-btn:hover {
  background-color: rgb(0, 28, 88);
  color: white;
}

.results-box {
  position: absolute;
  left: 20%;
  width: 60%;

  /* margin-left: 1.7vw; */
}

.city-name {
  background-color: white;
  z-index: 33;
  border: solid 1px rgb(202, 202, 202);
  border-top: none;
  margin: 0%;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.city-name:hover {
  background-color: rgb(145, 145, 145);
}
