.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #5b86e5;
  background-image: url(https://raw.githubusercontent.com/frempongdev/Image-Master/main/weather%20bck.jpg?token=GHSAT0AAAAAAB4773Z3QVRHGEMHKWCKCICKZHGPL6Q);
}
